.bg-img {
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.logo {
    display: none;
    height: 150px;
}


.logo1 {
    display: block;
    margin: 50px auto;
}


.board-container {
    margin: 15px auto;
    border: 3px solid black;
    visibility: hidden;
}


.cell,
.icons {
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 0;
    vertical-align: middle;
}


.game-info-container {
    color: white;
    position: absolute;
    top: 250px;
    left: 120px;
    display: none;
}


.btn-container {
    text-align: center;
}


.start-btn,
.restart-btn {
    background-color: transparent;
    font-size: 30px;
    color: yellow;
}


.restart-btn {
    display: none;
}


.laser {
    height: 15px;
}


.win-modal {
    display: none;
    width: 300px;
    height: 100px;
    background-image: url('../img/winbg.png');
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




.lose-modal {
    display: none;
    width: 300px;
    height: 100px;
    background-image: url('../img/losebg.png');
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}